<aside>
	<img src='http://placehold.it/200x750'>
</aside>
<article>
	<h1>The Whole Family</h1>
	<p>Here are the people for whom we have profiles:</p>
	<p>&nbsp;</p>

	<% @list.each do |n| %>
		<h3><%= "#{n}" %></h3>
	<% end %>

</article>
